

#displaybox {
	z-index: 10000;
	filter: alpha(opacity = 90); /*older IE*/
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE */
	-moz-opacity: .9; /*older Mozilla*/
	-khtml-opacity: 0.9; /*older Safari*/
	opacity: 0.9; /*supported by current Mozilla, Safari, and Opera*/
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: bottom;
}

a {
	color: #604460;
	margin-left: 10px;
}

a:link {
	color: #604460;
}

a:visited {
	color: #604460;
}

a:hover {
	color: #604460;
}

a:active {
	color: #604460;
}


table.sortable th:not (.sorttable_sorted ):not (.sorttable_sorted_reverse
	 ):not (.sorttable_nosort ):after {
	content: " \25B4\25BE"
}

#dashboard {
	position: relative;
	padding-top: 15px;
	padding-left: 0;
}

#tag {
	position: relative;
	width: 80%;
}

#home {
	position: absolute;
	right: 10px;
	top: 20px;
}

#loading {
	text-align: center;
   background:#fff;
   height: 20%;
   width: 40%;
   position: absolute;
   z-index: 1000;
   top: 40%;
	 left: 30%;
   margin: -25px 0 0 -25px;
	 border-radius: 5px;
}

product {
	display: block;
	font-size: 20px;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: normal;
}


.graph1 {
	width: 100%;
}

.graph2 {
	width: 100%;
}

#locationfilt {
	margin-top: 25px;
	margin-left: 25%;
}

input[type=radio] {
	margin-left: 25%;
	margin-top: 25px;
}

#agefilt {
	margin-top: 25px;
	margin-left: 25%;
}

#genderfilt {
	margin-top: 25px;
	margin-left: 25%;
}

#finalfilt {
	margin-top: 25px;
	margin-left: 25%;
}

#refresh {
	margin: auto;
	margin-top: 25px;
	display: block;
}

#segmentation {
	width: 70%;
	align: center;
}

#refresh_table {
	width: 20%;
}
/*#globalgauge path:nth-child(2){ fill:#FFFFFF ; }*/

#globalgauge circle:nth-child(3){
	fill:#DDDDDD;
	stroke:#DDDDDD;
	}

#filters, #cloud_wrapper {
	background-color: #DDDDDD;
	margin-top: 20px;
	min-width: 90%;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .2);
	padding-bottom: 20px;
	min-height: 200px;
	overflow: hidden;
}

#graphs {
	background-color: #DDDDDD;
	margin-top: 20px;
	min-width: 90%;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .2);
	padding-bottom: 20px;
	min-height: 200px;
	overflow: hidden;
}

#table_container {
	background-color: #DDDDDD;
	margin-top: 20px;
	min-width: 90%;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .2);
	padding-bottom: 20px;
	min-height: 200px;
	overflow: hidden;
	margin-bottom:20px;
	width:100%;
	margin-left: 0;
	margin-right: 0;
}

b {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		"AppleGothic", sans-serif;
}

body {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		"AppleGothic", sans-serif;
}

h1 {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		"AppleGothic", sans-serif;
	margin-left: 50px;
	padding-top: 0px;
	text-align: left;
	font-weight: bold;
	font-size: 24;
	padding-left:50px;
}

h2 {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		"AppleGothic", sans-serif;
	font-weight: normal;
	text-align: left;
	font-size: 24;
}

h3 {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		"AppleGothic", sans-serif;
	font-weight: normal;
	margin-top: 0px;
	text-align: center;
	font-size: 18;
	color: white;
}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : block;
}

#overlay {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 10;
    display  : block;
}

#Cookie {
  margin-left:50px;
  padding-top: 0px;
  text-align: left;
  font-weight: bold;
  font-size: 24;
}

table, th, tr {
	text-align: left;
}
